/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$LIGHTGREY: #777;

/**
 *https://css-tricks.com/snippets/sass/material-shadows-mixin/
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url(../fonts/LeagueSpartan-Bold.otf);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.2rem;
  font-family: Georgia, sans-serif;
  background-color: #FCFCFC;
  color: #242729;
  line-height: 1.3rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
  ol {
  list-style: upper-alpha;
  }
}

ol, ul {
  line-height: 1.6rem;
  ol, ul {
  padding-left: 3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'LeagueSpartan';
  font-size: 2rem;
  line-height: 2rem;
  margin: 2rem 0 .8rem 0;
}

.logo {
 text-align: center;
}
h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin: 2rem 0 1.7rem 0;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 2rem 0 1rem 0;
}
h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin: 2rem 0 1rem 0;
  
}
h5 {
  margin: 2rem 0 1rem 0;
  
}
h6 {
  margin: 2rem 0 1rem 0;
  
}

p {
  font-family: Georgia, sans-serif;
  margin-bottom: 1rem;
}

main {
  padding: 150px 10px 30px 10px;
}

.logo {
  margin-bottom: 4rem;
}

#intro {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.toc {
  // border-left: solid 5px LIGHTGREY;
  padding-left: 20px;
  ol {
    list-style: none;
    padding-left: 40px;
  }
}

#toc-inline {
  
  margin: 100px 0 100px 0;
}

.shade-box {
  border: 2px solid black;  
  padding: 40px;
  margin: 40px;
  background-color: #DDD;
}

.card {
  padding: 10px;
  @include card(1);
  margin-bottom: 2rem;
}

.card-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card-title {
  a {
    text-decoration: none;
    &:hover {

    text-decoration: underline;
    }
  }
}
.card-description {
  margin-left: 1rem;

  ol {
    list-style: decimal;
    margin-left: 2rem;
  }

}

#toc-sidebar {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.card-author {
  font-style: italic;
  color: $LIGHTGREY;
}

.topic-description {
  margin-bottom: 3rem;
}

.topic {
  margin-bottom: 5rem;

}

.sub-topic {
  padding: 10px 0 10px 0;
  margin-bottom: 2rem;
}

#toc-toggle {
  font-size: 3rem;
  top: 40px;
  left: 40px;
  color: #ccc;
  width: 40px;
  margin-right: 5px
}

#toc-toggle-img  {
 width: 100%; 
 opacity: .3;
}

#sidebar {
  display: none;
  @media (min-width: 1000px) {
    display: flex;
  }
  position: fixed;
  left: -400px;
  background-color: #FCFCFC;
  transition: left 0.3s ease-in;
  width: 450px;
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
  overflow: hidden;
  @include card(2);
}

.button {
  cursor: pointer;
}

.center {
  margin: 0 auto;
}

.twitter-tweet {
  margin: 3em auto 1em auto !important;
}

.credits {
  font-style: italic;
  width: 170px;
}

.center {
  text-align: center;
}

.caption {
  font-style:italic;
  text-align: center;
}
em {
  font-style:italic;
}

#to-top-button {
  position: fixed;
  font-size: 3rem;
  top: 40px;
  right: 40px;
  color: #000;
  opacity: .3;
  a {
    text-decoration: none;
    color: #000;
    font-family: sans;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; 
  border-color: LIGHTGREY;
 }

.recents {
  padding-left: 40px;
  padding-right: 40px;
  ul {
   padding-left: 2rem; 
  }
}

.twitter-follow {
  text-align: center;
}
