/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'LeagueSpartan';
  src: url(../fonts/LeagueSpartan-Bold.otf);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.2em;
  font-family: sans-serif;
  background-color: #FCFCFC;
  color: #242729;
}

ol, ul {
  ol, ul {
  padding-left: 3em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'LeagueSpartan';
  font-size: 2em;
}
h2 {
}
h3 {
}
h4 {
  
}
h5 {
  
}
h6 {
  
}

p {
  font-family: Georgia, sans-serif;
}

main {
  margin-top: 50px;
  margin-bottom: 30px;
}

.shade-box {
  border: 2px solid black;  
  padding: 40px;
  margin: 40px;
  background-color: #DDD;
}
