/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 *https://css-tricks.com/snippets/sass/material-shadows-mixin/
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
@font-face {
  font-family: 'LeagueSpartan';
  src: url(../fonts/LeagueSpartan-Bold.otf);
}
/* line 66, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 70, ../sass/screen.scss */
body {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.2em;
  font-family: Georgia, sans-serif;
  background-color: #FCFCFC;
  color: #242729;
  line-height: 1.3em;
}

/* line 81, ../sass/screen.scss */
ol ol, ol ul, ul ol, ul ul {
  padding-left: 3em;
}

/* line 86, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

/* line 90, ../sass/screen.scss */
h1 {
  font-family: 'LeagueSpartan';
  font-size: 2em;
  line-height: 1.3em;
  margin: 2em 0 .8em 0;
}

/* line 97, ../sass/screen.scss */
.logo {
  text-align: center;
}

/* line 100, ../sass/screen.scss */
h2 {
  font-size: 1.7em;
  margin: 2em 0 1em 0;
}

/* line 104, ../sass/screen.scss */
h3 {
  font-size: 1.4em;
  margin: 2em 0 1em 0;
}

/* line 108, ../sass/screen.scss */
h4 {
  font-size: 1.1em;
  margin: 2em 0 1em 0;
}

/* line 113, ../sass/screen.scss */
h5 {
  margin: 2em 0 1em 0;
}

/* line 117, ../sass/screen.scss */
h6 {
  margin: 2em 0 1em 0;
}

/* line 122, ../sass/screen.scss */
p {
  font-family: Georgia, sans-serif;
  margin-bottom: 1em;
}

/* line 127, ../sass/screen.scss */
main {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* line 132, ../sass/screen.scss */
.shade-box {
  border: 2px solid black;
  padding: 40px;
  margin: 40px;
  background-color: #DDD;
}

/* line 139, ../sass/screen.scss */
.card {
  padding: 10px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 1em;
}

/* line 145, ../sass/screen.scss */
.card-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

/* line 154, ../sass/screen.scss */
.card-description {
  padding-left: 1em;
}

/* line 159, ../sass/screen.scss */
.card-author {
  font-style: italic;
  color: #777;
}

/* line 164, ../sass/screen.scss */
.topic-description {
  margin-bottom: 1em;
}

/* line 168, ../sass/screen.scss */
.topic {
  margin-bottom: 5em;
}

/* line 173, ../sass/screen.scss */
.sub-topic {
  padding: 10px;
  margin-bottom: 3em;
}
