/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 *https://css-tricks.com/snippets/sass/material-shadows-mixin/
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
@font-face {
  font-family: 'LeagueSpartan';
  src: url(../fonts/LeagueSpartan-Bold.otf);
}
/* line 66, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 70, ../sass/screen.scss */
body {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.2rem;
  font-family: Georgia, sans-serif;
  background-color: #FCFCFC;
  color: #242729;
  line-height: 1.3rem;
}

/* line 80, ../sass/screen.scss */
ul {
  list-style: disc;
}

/* line 84, ../sass/screen.scss */
ol {
  list-style: decimal;
}
/* line 86, ../sass/screen.scss */
ol ol {
  list-style: upper-alpha;
}

/* line 91, ../sass/screen.scss */
ol, ul {
  line-height: 1.6rem;
}
/* line 93, ../sass/screen.scss */
ol ol, ol ul, ul ol, ul ul {
  padding-left: 3rem;
}

/* line 98, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

/* line 102, ../sass/screen.scss */
h1 {
  font-family: 'LeagueSpartan';
  font-size: 2rem;
  line-height: 2rem;
  margin: 2rem 0 .8rem 0;
}

/* line 109, ../sass/screen.scss */
.logo {
  text-align: center;
}

/* line 112, ../sass/screen.scss */
h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin: 2rem 0 1.7rem 0;
}

/* line 117, ../sass/screen.scss */
h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 2rem 0 1rem 0;
}

/* line 122, ../sass/screen.scss */
h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin: 2rem 0 1rem 0;
}

/* line 128, ../sass/screen.scss */
h5 {
  margin: 2rem 0 1rem 0;
}

/* line 132, ../sass/screen.scss */
h6 {
  margin: 2rem 0 1rem 0;
}

/* line 137, ../sass/screen.scss */
p {
  font-family: Georgia, sans-serif;
  margin-bottom: 1rem;
}

/* line 142, ../sass/screen.scss */
main {
  padding: 150px 10px 30px 10px;
}

/* line 146, ../sass/screen.scss */
.logo {
  margin-bottom: 4rem;
}

/* line 150, ../sass/screen.scss */
#intro {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/* line 156, ../sass/screen.scss */
.toc {
  padding-left: 20px;
}
/* line 159, ../sass/screen.scss */
.toc ol {
  list-style: none;
  padding-left: 40px;
}

/* line 165, ../sass/screen.scss */
#toc-inline {
  margin: 100px 0 100px 0;
}

/* line 170, ../sass/screen.scss */
.shade-box {
  border: 2px solid black;
  padding: 40px;
  margin: 40px;
  background-color: #DDD;
}

/* line 177, ../sass/screen.scss */
.card {
  padding: 10px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 2rem;
}

/* line 183, ../sass/screen.scss */
.card-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* line 191, ../sass/screen.scss */
.card-title a {
  text-decoration: none;
}
/* line 193, ../sass/screen.scss */
.card-title a:hover {
  text-decoration: underline;
}

/* line 199, ../sass/screen.scss */
.card-description {
  margin-left: 1rem;
}
/* line 202, ../sass/screen.scss */
.card-description ol {
  list-style: decimal;
  margin-left: 2rem;
}

/* line 209, ../sass/screen.scss */
#toc-sidebar {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

/* line 214, ../sass/screen.scss */
.card-author {
  font-style: italic;
  color: #777;
}

/* line 219, ../sass/screen.scss */
.topic-description {
  margin-bottom: 3rem;
}

/* line 223, ../sass/screen.scss */
.topic {
  margin-bottom: 5rem;
}

/* line 228, ../sass/screen.scss */
.sub-topic {
  padding: 10px 0 10px 0;
  margin-bottom: 2rem;
}

/* line 233, ../sass/screen.scss */
#toc-toggle {
  font-size: 3rem;
  top: 40px;
  left: 40px;
  color: #ccc;
  width: 40px;
  margin-right: 5px;
}

/* line 242, ../sass/screen.scss */
#toc-toggle-img {
  width: 100%;
  opacity: .3;
}

/* line 247, ../sass/screen.scss */
#sidebar {
  display: none;
  position: fixed;
  left: -400px;
  background-color: #FCFCFC;
  transition: left 0.3s ease-in;
  width: 450px;
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1000px) {
  /* line 247, ../sass/screen.scss */
  #sidebar {
    display: flex;
  }
}

/* line 264, ../sass/screen.scss */
.button {
  cursor: pointer;
}

/* line 268, ../sass/screen.scss */
.center {
  margin: 0 auto;
}

/* line 272, ../sass/screen.scss */
.twitter-tweet {
  margin: 3em auto 1em auto !important;
}

/* line 276, ../sass/screen.scss */
.credits {
  font-style: italic;
  width: 170px;
}

/* line 281, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 285, ../sass/screen.scss */
.caption {
  font-style: italic;
  text-align: center;
}

/* line 289, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 293, ../sass/screen.scss */
#to-top-button {
  position: fixed;
  font-size: 3rem;
  top: 40px;
  right: 40px;
  color: #000;
  opacity: .3;
}
